Regain/WebContent/wsdl/WbsUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servlets.fronesis.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servlets.fronesis.com" xmlns:intf="http://servlets.fronesis.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://servlets.fronesis.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="update_User_Time">
    <complexType>
     <sequence>
      <element name="sSessionId" type="xsd:string"/>
      <element name="sUsername" type="xsd:string"/>
      <element name="iWebAppId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="update_User_TimeResponse">
    <complexType/>
   </element>
   <element name="emailPassword">
    <complexType>
     <sequence>
      <element name="sUsername" type="xsd:string"/>
      <element name="iWebAppId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="emailPasswordResponse">
    <complexType>
     <sequence>
      <element name="emailPasswordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="emailPasswordRequest">

      <wsdl:part element="impl:emailPassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="update_User_TimeRequest">

      <wsdl:part element="impl:update_User_Time" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="update_User_TimeResponse">

      <wsdl:part element="impl:update_User_TimeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="emailPasswordResponse">

      <wsdl:part element="impl:emailPasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WbsUser">

      <wsdl:operation name="update_User_Time">

         <wsdl:input message="impl:update_User_TimeRequest" name="update_User_TimeRequest">

       </wsdl:input>

         <wsdl:output message="impl:update_User_TimeResponse" name="update_User_TimeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="emailPassword">

         <wsdl:input message="impl:emailPasswordRequest" name="emailPasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:emailPasswordResponse" name="emailPasswordResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WbsUserSoapBinding" type="impl:WbsUser">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update_User_Time">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="update_User_TimeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="update_User_TimeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="emailPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="emailPasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="emailPasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WbsUserService">

      <wsdl:port binding="impl:WbsUserSoapBinding" name="WbsUser">

         <wsdlsoap:address location="http://localhost:8080/Regain/services/WbsUser"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
